In [20]:
import numpy as np
import pandas as pd

In [21]:
np.version

In [22]:
pd.__version__

'1.4.4'

In [8]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv'

In [10]:
!wget $data

--2023-09-13 16:24:46--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: 'housing.csv'

     0K .......... .......... .......... .......... ..........  3%  318K 4s
    50K .......... .......... .......... .......... ..........  7%  413K 4s
   100K .......... .......... .......... .......... .......... 10%  961K 3s
   150K .......... .......... .......... .......... .......... 14%  819K 2s
   200K .......... .......... .......... .......... .......... 17%  598K 2s
   250K .......... .......... .......... .......... .......... 21%  963K 2s
   300K .......... .......... .......... .......... .......... 25%  864K 2s
   350K .......... .......... .......... .......... .......... 28%  741K 2s
   400K .......... .......... .......... .......... .......... 32%  672K 2s
   450K .......... .......... .......... .......... .......... 35%  658K 1s
   500K .......... .......... .......... .......... .......... 39%  202K 2s
   550K .......... .......... .......... .......... .......... 43%  420K 2s
   600K .......... .......... .......... .......... .......... 46% 1.90M 1s
   650K .......... .......... .......... .......... .......... 50%  117K 2s
   700K .......... .......... .......... .......... .......... 53%  254K 2s
   750K .......... .......... .......... .......... .......... 57%  733K 1s
   800K .......... .......... .......... .......... .......... 61% 1.91M 1s
   850K .......... .......... .......... .......... .......... 64%  668K 1s
   900K .......... .......... .......... .......... .......... 68%  417K 1s
   950K .......... .......... .......... .......... .......... 71%  487K 1s
  1000K .......... .......... .......... .......... .......... 75% 2.24M 1s
  1050K .......... .......... .......... .......... .......... 79%  915K 1s
  1100K .......... .......... .......... .......... .......... 82%  895K 0s
  1150K .......... .......... .......... .......... .......... 86% 1.14M 0s
  1200K .......... .......... .......... .......... .......... 89%  937K 0s
  1250K .......... .......... .......... .......... .......... 93% 1.47M 0s
  1300K .......... .......... .......... .......... .......... 97%  801K 0s
  1350K .......... .......... .......... ..........           100% 2.57M=2.6s

2023-09-13 16:24:50 (545 KB/s) - 'housing.csv' saved [1423529/1423529]

In [23]:
df =pd.read_csv('housing.csv')

In [24]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [25]:
df.info

<bound method DataFrame.info of        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]>

In [26]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [27]:
df['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [28]:
df.groupby('ocean_proximity').median_house_value.mean()

ocean_proximity
<1H OCEAN     240084.285464
INLAND        124805.392001
ISLAND        380440.000000
NEAR BAY      259212.311790
NEAR OCEAN    249433.977427
Name: median_house_value, dtype: float64

In [29]:
df.total_bedrooms.mean()

537.8705525375618

In [30]:
df['total_bedrooms']=df['total_bedrooms'].fillna(df['total_bedrooms'].mean())

In [31]:
df.total_bedrooms.mean()

537.8705525375639

In [32]:
df['total_bedrooms'].mean()

537.8705525375639

In [33]:
df_filtered= df[df['ocean_proximity']=='ISLAND']

In [34]:
coluns_to_convert=df_filtered[['housing_median_age','total_rooms','total_bedrooms']]

In [37]:
X = coluns_to_convert.to_numpy()

In [39]:
XTX =np.dot(X.T,X)

In [40]:
XTX_inverse = np.linalg.inv(XTX)

In [41]:
y = np.array([950, 1300, 800, 1000, 1300])

In [42]:
W =np.dot(np.dot(XTX_inverse,X.T),y)

In [43]:
last_element_of_w =W[-1]

In [44]:
last_element_of_w

5.699229455065575

In [45]:
df.shape

(20640, 10)